The project I have identified for Capstone relates to UN voting records.  I'm interested in how countries can be grouped into voting blocks based on their voting record corresponding to resolutions raised in the General Assembly (not to be confused with General Assembly the education institution).  Once a grouping structure is defined based on voting using clustering I seek to understand what factors lead to these groupings.

Potential variables I've considered include: gross bilateral trade, government type, language(s) spoken, religoin(s), military allience/cooperation.

Additionally I would like to be able to use the information derived to build a time-series analysis to describe how these groupings and relationships have changed over time (1948 - 2017).

I've identified several useful data sources but there are certainly issues. 

My most important data set is the voting records of each country for each resolution.  I have this data, but as you will see from the data below, I'm not able to read everything in, both because I have issues importing one of the .tab files and because several of the files are in 'R' 

Risks:
- Not being able to extract from R
- Not being able to properly merge data files
- Not able to find acquire and merge additional variable data such as bilateral trade
- Model does not work

In [6]:
import pandas as pd
df_votes = pd.read_csv('~/Desktop/dataverse_files/UNVotes1-72.tab',sep='\t')
# This is a long list of vote tallies by resolution

In [8]:
df_votes.head(2)

   rcid  ccode  session  member  vote Country               Countryname  year
0   3.0      2      1.0     1.0     1     USA  United States of America  1946
1   3.0     20      1.0     1.0     3     CAN                    Canada  1946

In [9]:
df_points = pd.read_csv('~/Desktop/dataverse_files/IdealpointsPublished.tab',sep='\t')
# df points is Ideal point data. Unit of analysis is the country-session 
# (which corresponds closely but not perfectly, to country-year). This 
# contains country-specific ideal point estimates.

In [18]:
df_points.head(3)

,year,ccode,CountryAbb,session,N_full,CountryName,PctAgreeUS,PctAgreeRUSSIA,PctAgreeBrazil,PctAgreeChina,PctAgreeIndia,PctAgreeIsrael,yObs1,yObs2,yObs3,Idealpoint,bornyear,g77,unsc_region
0,1946.0,2.0,USA,1.0,42.0,United States of America,1.0,0.214286,0.642857,NaN,0.476190,NaN,25.0,2.0,15.0,1.737745,1816.0,0.0,4.0
1,1947.0,2.0,USA,2.0,38.0,United States of America,1.0,0.263158,0.842105,NaN,0.297297,NaN,27.0,1.0,10.0,1.841704,1816.0,0.0,4.0
2,1948.0,2.0,USA,3.0,103.0,United States of America,1.0,0.127451,0.776699,NaN,0.370000,0.166667,46.0,3.0,54.0,1.990924,1816.0,0.0,4.0

In [12]:
df_dyadic = pd.read_csv('~/Desktop/dataverse_files/Dyadicdata.tab',sep='\t')

In [17]:
df_dyadic.head(3)
# Dyadid affinity and ideal point data. Unit of analysis is the dyad-session (year). 
# This file contains distances between country ideal points as well as Affinity scores 
# (although we recommend against using these).

,ccode2,ccode1,year,ideal1,ideal2,absidealdiff,s2un,s3un,agree2un,agree3un,...,interpolated,s2unimportant,s3unimportant,agree2unimportant,agree3unimportant,jointvotes2important,jointvotes3important,IdealPointImportant1,IdealPointImportant2,absidealimportantdiff
0,20,2,1946,1.743,2.056,0.313,0.74359,0.71429,0.87179,0.85714,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40,2,1946,1.743,0.966,0.777,0.47368,0.43902,0.73684,0.71951,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41,2,1946,1.743,0.249,1.494,0.17647,0.13636,0.58824,0.56818,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_descriptions = pd.read_csv('~/Desktop/dataverse_files/DescriptionsUN1-72 copy.tab',sep='\t')
# Not currently able to read in  
# Descriptions. Unit of analysis is the resolution.  This file contains descriptions of each 
# resolutions including some issue codes. (Can be merged with the raw voting data).

ParserError: Error tokenizing data. C error: Expected 18 fields in line 1483, saw 29